/* VARIÁVEIS CSS */

    /*HEADER*/ :root {
    --background-header: #FFFFFF;
    --background-header-botao-cadastrar: #8E2424;

    --color-header-titulo: #3A404E;
    --color-header-itens: #667085;
    --color-header-botao-entrar: #667085;
    --color-header-botao-cadastrar: #FFFFFF;

    --border-header-botao-cadastrar: #8E2424;

    --font-header: 'Inter', sans-serif;

    --font-size-header-titulo: 1.1rem;
    --font-size-header-itens: 1rem;
    --font-size-header-botao: 1rem;

    --font-weight-header-titulo: 500;
    --font-weight-header-itens: 500;
    --font-weight-header-botao: 500;
    }

    /* BANNER */ :root {
    --background-banner: #FFFFFF;

    --color-banner-titulo: #8E2424;
    --color-banner-subtitulo: #101828;
    --color-banner-texto: #667085;

    --font-banner: 'Inter', sans-serif;

    --font-size-banner-titulo: 1rem;
    --font-size-banner-subtitulo: 3rem;
    --font-size-banner-texto: 1.25rem;

    --font-weight-banner-titulo: 600;
    --font-weight-banner-subtitulo: 600;
    --font-weight-banner-texto: 400;

    /*MQ*/
    --font-size-banner-subtitulo-mq: 1.5rem;
    --font-size-banner-texto-mq: 0.875rem;
    }

    /* METRICAS */ :root {
    --background-metricas: #FFFFFF;

    --color-metricas-titulo: #8E2424;
    --color-metricas-subtitulo: #101828;
    --color-metricas-texto: #667085;

    --font-metricas: 'Inter', sans-serif;

    --font-size-metricas-titulo: 3.75rem;
    --font-size-metricas-subtitulo: 1.125rem;
    --font-size-metricas-texto: 1rem;

    --font-weight-metricas-titulo: 600;
    --font-weight-metricas-subtitulo: 500;
    --font-weight-metricas-texto: 400;

    /*MQ*/
    --font-size-metricas-titulo-mq: 2.5rem;
    }

    /* VAGAS */ :root {
    --background-vagas: #FFFFFF;

    --color-vagas-titulo: #8E2424;
    --color-vagas-subtitulo: #101828;
    --color-vagas-texto: #667085;

    --font-vagas: 'Inter', sans-serif;

    --font-size-vagas-titulo: 0.85rem;
    --font-size-vagas-subtitulo: 2.25rem;
    --font-size-vagas-texto: 1.25rem;

    --font-weight-vagas-titulo: 500;
    --font-weight-vagas-subtitulo: 600;
    --font-weight-vagas-texto: 400;
    }

    /* ANUNCIOS */ :root {
    --background-anuncios: #FFFFFF;

    --color-anuncios-titulo: #101828;
    --color-anuncios-subtitulo: #101828;
    --color-anuncios-texto: #667085;

    --font-anuncios: 'Inter', sans-serif;

    --font-size-anuncios-titulo: 1.25rem;
    --font-size-anuncios-subtitulo: 1.125rem;
    --font-size-anuncios-texto: 1rem;

    --font-weight-anuncios-titulo: 500;
    --font-weight-anuncios-subtitulo: 500;
    --font-weight-anuncios-texto: 500;

    --border-anuncios: #EAECF0;
    }

    /* DEPOIMENTOS */ :root {
    --background-depoimentos: #FFFFFF;
    --background-depoimentos-card: #C3191907;

    --color-depoimentos-titulo: #8E2424;
    --color-depoimentos-subtitulo: #101828;
    --color-depoimentos-texto: #101828;
    --color-depoimentos-legenda: #667085;

    --font-depoimentos: 'Inter', sans-serif;

    --font-size-depoimentos-titulo: 0.875rem;
    --font-size-depoimentos-subtitulo: 2.25rem;
    --font-size-depoimentos-texto: 1rem;
    --font-size-depoimentos-legenda: 0.875rem;

    --font-weight-depoimentos-titulo: 600;
    --font-weight-depoimentos-subtitulo: 500;
    --font-weight-depoimentos-texto: 500;
    --font-weight-depoimentos-legenda: 400;

    /*MQ*/
    --font-size-depoimentos-subtitulo-mq: 1.25rem;
    }

    /* FORMULARIO */ :root {
    --background-formulario: #F9FAFB;
    --background-formulario-botao: #8E2424;

    --color-formulario-titulo: #101828;
    --color-formulario-texto: #667085;
    --color-formulario-placeholder: #667085;
    --color-formulario-botao: #FFFFFF;

    --font-formulario: 'Inter', sans-serif;

    --font-size-formulario-titulo: 2.25rem;
    --font-size-formulario-texto: 1.25rem;
    --font-size-formulario-placeholder: 1rem;
    --font-size-formulario-botao: 1rem;

    --font-weight-formulario-titulo: 600;
    --font-weight-formulario-texto: 400;
    --font-weight-formulario-placeholder: 400;
    --font-weight-formulario-botao: 500;

    --border-formulario-placeholder: #D0D5DD;
    --border-formulario-botao: #8E2424;

    /*MQ*/
    --font-size-formulario-titulo-mq: 1.5rem;
    }

    /* RODAPE */ :root {
    --background-rodape: #F9FAFB;

    --color-rodape-texto: #98A2B3;

    --font-rodape: 'Inter', sans-serif;

    --font-size-rodape-texto: 1rem;

    --font-weight-rodape-texto: 400;
    }

/* ====================== */ /* ====================== */

/* INICIO HEADER */

.cabecalho {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    float: left;
    justify-content: space-between;
    padding: 1.5em;
    width: 100%;
}


.cabecalho__logo {
    background: url("../img/logo-desktop.svg") center no-repeat;
    cursor: pointer;
    font-size: 0;
    height: 48px;
    width: 150px;
}

.btn-menu {
    display: none;
}

.btn-close {
    display: none;
}

.menu__lista {
    display: flex;
    gap: 1.5em;
}

.item__link {
    color: var(--color-header-itens);
    font-family: var(--font-header);
    font-size: var(--font-size-header-itens);
    font-weight: var(--font-weight-header-itens);
    text-decoration: none;
}

.item__link:hover {
    font-weight: 700;        
}

.btn-botoes {
    display: none;
}

.btn-entrar {
    background: var(--background-header);
    border: none;
    color: var(--color-header-botao-entrar);
    cursor: pointer;
    font-size: var(--font-size-header-botao);
    font-weight: var(--font-weight-header-botao);
    height: 48px;
    padding: 0 1em;
    text-decoration: none;
    width: 115px;
}

.btn-entrar:hover {
    font-weight: 700;
}

.btn-cadastrar {
    background: var(--background-header-botao-cadastrar);
    border-radius: 8px;
    border: 1px solid var(--border-header-botao-cadastrar);
    color: var(--color-header-botao-cadastrar);
    cursor: pointer;
    font-size: var(--font-size-header-botao);
    font-weight: var(--font-weight-header-botao);
    height: 48px;
    padding: 0 1em;
    text-decoration: none;
    width: 115px;
}

.btn-cadastrar:hover {
    background: #8E2424CC;
}

/* MQ HEADER */
@media screen and (max-width: 1024px) {

    .cabecalho {
        box-sizing: border-box;
        display: block;
        float: left;
        padding: 1.5em;
        width: 100%;
    }

    .cabecalho__logo {
        background-image: url("../img/logo-mobile.svg");
        cursor: pointer;
        display: block;
        float: left;
        font-size: 0;
        height: 48px;
        width: 48px;
    }

    .btn-menu {
        background-image: url("../img/menu.svg");
        border: none;
        cursor: pointer;
        float: right;        
        height: 48px;
        width: 48px;
        display: inline;
    }

    .cabecalho__menu {
        background-color: #FFFFFF;
        display: none;
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
    }

    .btn-close {
        background-image: url("../img/close.svg");
        border: none;
        cursor: pointer;
        display: block;
        float: right;
        height: 48px;
        margin: 1.5em;
        width: 48px;
    }

    .menu__lista {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        float: left;
        height: 85%;
        padding: 1.5rem;
        width: 100%;
    }

    .lista__item {
        padding: 0.5em;
    }
    
    .item__link {
        color: var(--color-header-itens);
        font-family: var(--font-header);
        font-size: var(--font-size-header-itens);
        font-weight: var(--font-weight-header-itens);
        text-decoration: none;
    }

    .btn-botoes {
        display: flex;
        gap: 1em;
        flex: 1;
        align-items: flex-end;
        justify-content: center;        
    }

    .btn-entrar {
        background: var(--background-header);
        border-radius: 8px;
        color: var(--color-header-botao-entrar);
        cursor: pointer;
        font-size: var(--font-size-header-botao);
        font-weight: var(--font-weight-header-botao);
        height: 48px;
        padding: 0 1em;
        text-decoration: none;
        width: 200px;
    }

    .btn-cadastrar {
        background: var(--background-header-botao-cadastrar);
        border-radius: 8px;
        border: 1px solid var(--border-header-botao-cadastrar);
        color: var(--color-header-botao-cadastrar);
        cursor: pointer;
        font-size: var(--font-size-header-botao);
        font-weight: var(--font-weight-header-botao);
        height: 48px;
        padding: 0 1em;
        text-decoration: none;
        width: 200px;
    }

    .cabecalho__botoes {
        display: none;
    }
}

/* FIM HEADER */

/* ====================== */ /* ====================== */ 

/* INICIO BANNER */

.banner {
    background: var(--background-banner);
    box-sizing: border-box;
    font-family: var(--font-banner);
    padding: 6em 0;
    text-align: center;
    width: 100%;
}

.banner__titulo {
    color: var(--color-banner-titulo);
    font-size: var(--font-size-banner-titulo);
    font-weight: var(--font-weight-banner-titulo);
    margin-bottom: 1.5em;
}

.banner__subtitulo {
    color: var(--color-banner-subtitulo);
    font-size: var(--font-size-banner-subtitulo);
    font-weight: var(--font-weight-banner-subtitulo);
    margin-bottom: 1em;
}

.banner__texto {
    color: var(--color-banner-texto);
    font-size: var(--font-size-banner-texto);
    font-weight: var(--font-weight-banner-texto);
    line-height: 1.87em;
    padding: 0 4em;
}

/* MQ BANNER */

@media screen and (max-width: 1024px) {

    .banner {padding: 3em 0;}

    .banner__subtitulo {font-size: var(--font-size-banner-subtitulo-mq)}

    .banner__texto {font-size: var(--font-size-banner-texto-mq); padding: 0 2em;}

}

/* FIM BANNER */

/* ====================== */ /* ====================== */ 

/* INICIO METRICAS */

.metricas {
    background: var(--background-metricas);
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    font-family: var(--font-metricas);
    justify-content: center;
    width: 100%;
}            

.metricas__container {
    box-sizing: border-box;
    flex: 1 1 200px;
    margin: 1em;
    padding: 1em;
}

.metricas__titulo {
    color: var(--color-metricas-titulo);
    font-size: var(--font-size-metricas-titulo);
    font-weight: var(--font-weight-metricas-titulo);
    margin-bottom: 0.7em;
}

.metricas__subtitulo {
    color: var(--color-metricas-subtitulo);
    font-size: var(--font-size-metricas-subtitulo);
    font-weight: var(--font-weight-metricas-subtitulo);
    margin-bottom: 0.5em;
}

.metricas__texto {
    color: var(--color-metricas-texto);
    font-size: var(--font-size-metricas-texto);
    font-weight: var(--font-weight-metricas-texto);
}

/* MQ METRICAS */

@media screen and (max-width: 1024px) {
    .metricas__container {
        flex: 0 1 auto;
        text-align: center;
        width: 40%;
    }
    .metricas {
        justify-content: center;
    }
    }
    
@media screen and (max-width: 768px) {
    .metricas__container {
        width: 80%;
    }
}

/* FIM METRICAS */

/* ====================== */ /* ====================== */ 

/* INICIO VAGAS */
.vagas {
    background: var(--background-vagas);
    font-family: var(--font-vagas);
    padding: 6em 0 4em 0;
    text-align: center;
    width: 100%;
}

.vagas__titulo {
    background: #8E24241C;
    border-radius: 1em;
    color: var(--color-vagas-titulo);
    display: inline-block;
    font-size: var(--font-size-vagas-titulo);
    font-weight: var(--font-weight-vagas-titulo);
    margin-bottom: 1.5em;
    padding: 0.5em 1em;
}

.vagas__subtitulo {
    color: var(--color-vagas-subtitulo);
    font-size: var(--font-size-vagas-subtitulo);
    font-weight: var(--font-weight-vagas-subtitulo);
    margin-bottom: 1.5em;
}

.vagas__texto {
    color: var(--color-vagas-texto);
    font-size: var(--font-size-vagas-texto);
    font-weight: var(--font-weight-vagas-texto);
    margin-bottom: 4em;
}

.vagas__imagem {
        border-radius: 1em;
        width: 80%;
}

/* MQ VAGAS */

@media screen and (max-width: 1024px) {
    .vagas {box-sizing: border-box; padding: 6em 2em 4em 2em;}

    .vagas__subtitulo {margin-bottom: 1em;}

    .vagas__texto {margin-bottom: 2em;}

    .vagas__imagem {width: 100%;}
}

/* FIM VAGAS */

/* ====================== */ /* ====================== */ 

/* INICIO ANUNCIOS */

.anuncios {
    align-items: center;
    background: var(--background-anuncios);
    display: flex;
    flex-direction: column;
    font-family: var(--font-anuncios);
    width: 100%;
}

.anuncios__profissao {
    width: 60%;
    margin-top: 4em;
}

.profissao__titulo {
    color: var(--color-anuncios-titulo);
    font-size: var(--font-size-anuncios-titulo);
    font-weight: var(--font-weight-anuncios-titulo);
    margin-bottom: 2em;
}

.lista__itens {
    border-radius: 16px;
    border: 1px solid var(--border-anuncios);
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
    padding: 1.5em;
}

.itens__subtitulo {
    color: var(--color-anuncios-subtitulo);
    font-size: var(--font-size-anuncios-subtitulo);
    font-weight: var(--font-weight-anuncios-subtitulo);
    margin-bottom: 2em;
}

.itens__texto {
    display: flex;
    flex-direction: row;
    gap: 24px;
    color: var(--color-anuncios-texto);
    font-size: var(--font-size-anuncios-texto);
    font-weight: var(--font-weight-anuncios-texto);
}

/* MQ ANUNCIOS */

@media screen and (max-width: 1024px) {

    .anuncios__profissao {width: 100%; padding: 0 2em; box-sizing: border-box; margin-top: 2em;}

    .itens__texto {display: inline-block; }
}

/* FIM ANUNCIOS */

/* ====================== */ /* ====================== */ 

/* INICIO DEPOIMENTOS */

.depoimentos {
    background: var(--background-depoimentos);
    box-sizing: border-box;
    font-family: var(--font-depoimentos);
    padding: 6em 7em;
    width: 100%;
}

.depoimentos__card {
    background: var(--background-depoimentos-card);
    border-radius: 16px;
    box-sizing: border-box;
    padding: 4em;
    text-align: center;
    width: 100%;
}

.card__titulo {
    color: var(--color-depoimentos-titulo);
    font-size: var(--font-size-depoimentos-titulo);
    font-weight: var(--font-weight-depoimentos-titulo);
    margin-bottom: 1.5em;
}

.card__subtitulo {
    color: var(--color-depoimentos-subtitulo);
    font-size: var(--font-size-depoimentos-subtitulo);
    font-weight: var(--font-weight-depoimentos-subtitulo);
    margin-bottom: 2em;
}

.card__imagem {
    margin-bottom: 1em;
    width: 15%;
}

.card__texto {
    color: var(--color-depoimentos-texto);
    font-size: var(--font-size-depoimentos-texto);
    font-weight: var(--font-weight-depoimentos-texto);
    margin-bottom: 0.5em;
}

.card__legenda {
    color: var(--color-depoimentos-legenda);
    font-size: var(--font-size-depoimentos-legenda);
    font-weight: var(--font-weight-depoimentos-legenda);
}

/* MQ DEPOIMENTOS */

@media screen and (max-width: 1024px) {
    .depoimentos {padding: 3em 2em;}

    .card__subtitulo
    {font-size: var(--font-size-depoimentos-subtitulo-mq);}
}

/* FIM DEPOIMENTOS */

/* ====================== */ /* ====================== */ 

/* INICIO FORMULARIO */

.formulario {
    background: var(--background-formulario);
    font-family: var(--font-formulario);                
    padding: 3em 1.5em;
    text-align: center;
}

.formulario__titulo {
    color: var(--color-formulario-titulo);
    font-size: var(--font-size-formulario-titulo);
    font-weight: var(--font-weight-formulario-titulo);
    margin-bottom: 1em;
}

.formulario__texto {                
    color: var(--color-formulario-texto);
    font-size: var(--font-size-formulario-texto);
    font-weight: var(--font-weight-formulario-texto);
    margin-bottom: 1em;
}

.formulario__input {
    display: flex;
    gap: 2em;
    justify-content: center;                
}

.label--off {
    display: none;
}

.formulario-input__campo {
    background: #ffffff;
    border-radius: 8px;
    border: 1px solid var(--border-formulario-placeholder);
    color: var(--color-formulario-placeholder);
    font-family: var(--font-formulario);
    font-size: 18px;
    font-weight: var(--font-weight-formulario-placeholder);
    padding: 0.75em 1em;
    cursor: pointer;
}

.formulario-input__campo:focus {
    outline: none;
}

.formulario-input__botao {
    background: var(--background-formulario-botao);
    border-radius: 8px;
    border: 1px solid var(--border-formulario-botao);
    color: var(--color-formulario-botao);
    cursor: pointer;
    font-family: var(--font-formulario);
    font-size: var(--font-size-formulario-botao);
    font-weight: var(--font-weight-formulario-botao);
    padding: 0.75em 1.25em;
}

.formulario-input__botao:hover {
    background: #8E2424CC;
}

/* MQ FORMULARIO */

@media screen and (max-width: 1024px) {
    .formulario__titulo {font-size: var(--font-size-formulario-titulo-mq);}
    
    .formulario__input {
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
}

/* FIM FORMULARIO */

/* ====================== */ /* ====================== */

/* INICIO RODAPE */

.rodape {
    background: var(--background-rodape);
    color: black;
    font-family: var(--font-rodape);
    font-size: 16px;
    padding: 2em 0 6em 0;
    text-align: center;
}

/* FIM RODAPE */

/* ====================== */ /* ====================== */
















